.container {
  display: grid;
  margin: 0px;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr 1fr;
}

/* side */
.side_size {
  grid-column: 1 / span 1;
  grid-row: 1 / span 5;
  background-color: #75abd2;
}

#side_title {
  color: #ffffff;
  font-weight: bold;
  font-size: 90px;
  text-decoration: none;
  margin: 30px;
}

.table {
  display: grid;
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  color: #ffffff;
}

.side_a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  background-color: #75abd2;
  border: 1px solid #75abd2;
  cursor: pointer;
  padding: 5%;
}

/* header */
.header_size {
  grid-column: 2 / span 4;
  grid-row: 1 / span 1;
  background-color: rgb(224, 224, 224);
}

#header_title {
  font-size: 50px;
  padding-left: 5%;
  margin: 0;
}

.header_box {
  width: 90%;
  height: 10%;
  border: 2px solid rgb(5, 5, 5);
  background-color: #ffffff;
  font-size: 27px;
  padding: 1%;
}

/* body */
.body_size {
  grid-column: 2 / span 4;
  grid-row: 2 / span 5;
  background-color: rgb(224, 224, 224);
  display: flex;
  padding-left: 8%;
}

.sales_graph_box {
  width: 100%; /* 박스의 너비를 100%로 설정 */
  height: 300px; /* 박스의 높이를 300픽셀로 설정 */
  border: 1px solid rgb(224, 224, 224); /* 박스의 테두리를 검은색 1픽셀로 설정 */
  margin-top: 20px; /* 헤더 박스와의 간격을 위해 상단 마진을 추가 */
}

#Sales_gragh_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block; /* 이미지를 블록 요소로 만듭니다. */
  margin: auto; /* 이미지를 수평으로 중앙 정렬합니다. */
}

.image_container {
  margin-right: 20px;
  margin-left: 20px;
}

.image_container:not(:last-child) {
  margin-right: 20px;
}
.img_box {
  width: 90%;
  height: 10%;
  border: 2px solid rgb(5, 5, 5);
  background-color: #ffffff;
  font-size: 27px;
  padding: 1%;
  margin-top: 20px;
  display: grid;
}
